# mongod.conf - 练习用 MongoDB 配置
storage:
  dbPath: C:\Users\pale\Desktop\mongo\data

systemLog:
  destination: file
  logAppend: true
  path: C:\Users\pale\Desktop\mongo\log\mongod.log

net:
  port: 27017
  bindIp: 127.0.0.1
